{
  "openapi": "3.0.1",
  "info": {
    "title": "BBIYONG (삐용) 통합 관제 시스템 API",
    "description": "## 삐용 (BBIYONG) - 순찰 로봇 기반 화재 감지 및 관제 시스템\n\n### 주요 기능\n- **로봇 관제**: 실시간 로봇 상태 조회, 제어 명령 (STOMP)\n- **화재 감지**: 교차검증 기반 화재 이벤트 수신 및 알림\n- **순찰 관리**: 순찰 경로 및 waypoint 관리\n- **영상 스트리밍**: 듀얼 카메라 (RGB/열화상) 실시간 중계\n- **2D 도면**: 맵 업로드, 도면 생성, 활성 맵 관리\n- **설비 관리**: 분전반 등 설비 임계 온도 설정\n\n### 인증\n- JWT Bearer Token 기반 인증/인가\n- `/api/auth/login` 으로 토큰 발급 후 `Authorization: Bearer <token>` 헤더 사용\n\n### 실시간 통신\n- **WebSocket (STOMP)**: `/ws/control` (별칭 `/ws-관제`) 엔드포인트\n- **구독 토픽**: `/topic/robots`, `/topic/alerts`, `/topic/video/{robotId}`, `/topic/nav`\n- **제어 발행**: `/app/control/drive`, `/app/control/mode`, `/app/control/operation`\n\n### 개발팀\nSSAFY 15기 공통 프로젝트(AIoT) 부울경 E101팀\n",
    "contact": {
      "name": "SSAFY E101 Team",
      "url": "https://github.com/jinsung-mo/-BBIYONG-autonomous_driving_factory_patrol_robot"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://i15e101.p.ssafy.io",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Zone",
      "description": "구역 정의 및 좌표→구역명 변환 API"
    },
    {
      "name": "Patrol Schedules",
      "description": "자동 순찰 스케줄 관리 API"
    },
    {
      "name": "Dashboard",
      "description": "관제센터 대시보드 통계 API"
    },
    {
      "name": "Notifications",
      "description": "알림 설정 API"
    },
    {
      "name": "Robot",
      "description": "로봇 조회 및 관리 API"
    },
    {
      "name": "Auth",
      "description": "인증 API (회원가입, 로그인)"
    },
    {
      "name": "Event",
      "description": "이벤트 로그 및 경보 관리 API"
    },
    {
      "name": "Stats",
      "description": "통계 대시보드 집계 API"
    }
  ],
  "paths": {
    "/api/zones/{id}": {
      "put": {
        "tags": [
          "Zone"
        ],
        "summary": "구역 수정 (ADMIN)",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Zone"
        ],
        "summary": "구역 삭제 (ADMIN)",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/waypoints": {
      "get": {
        "tags": [
          "waypoint-controller"
        ],
        "operationId": "list",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Item"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "waypoint-controller"
        ],
        "operationId": "replace",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WaypointRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Item"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "waypoint-controller"
        ],
        "operationId": "add",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaypointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          }
        }
      }
    },
    "/api/patrol-schedules/{scheduleId}": {
      "get": {
        "tags": [
          "Patrol Schedules"
        ],
        "summary": "스케줄 상세 조회",
        "description": "특정 스케줄의 상세 정보를 조회합니다.",
        "operationId": "getScheduleById",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PatrolScheduleResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Patrol Schedules"
        ],
        "summary": "스케줄 수정",
        "description": "기존 스케줄을 수정합니다. Cron 표현식 변경 시 자동으로 재등록됩니다.",
        "operationId": "updateSchedule",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatrolScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PatrolScheduleResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Patrol Schedules"
        ],
        "summary": "스케줄 삭제",
        "description": "스케줄을 삭제하고 예약된 작업을 취소합니다.",
        "operationId": "deleteSchedule",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/patrol-route": {
      "get": {
        "tags": [
          "patrol-route-controller"
        ],
        "operationId": "getRoute",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Route"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "patrol-route-controller"
        ],
        "operationId": "replaceRoute",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RouteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Route"
                }
              }
            }
          }
        }
      }
    },
    "/api/notifications/settings": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "알림 설정 조회",
        "description": "현재 사용자의 알림 설정을 조회합니다. 설정이 없으면 기본값을 반환합니다.",
        "operationId": "getSettings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Notifications"
        ],
        "summary": "알림 설정 업데이트",
        "description": "Mattermost 알림 설정을 업데이트합니다. 부분 업데이트 가능합니다.",
        "operationId": "updateSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSettingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/maps/{id}/active": {
      "put": {
        "tags": [
          "map-controller"
        ],
        "operationId": "setActive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Detail"
                }
              }
            }
          }
        }
      }
    },
    "/api/equipments/{id}": {
      "put": {
        "tags": [
          "equipment-controller"
        ],
        "operationId": "updateThreshold",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentThresholdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/zones": {
      "get": {
        "tags": [
          "Zone"
        ],
        "summary": "구역 목록",
        "operationId": "list_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Zone"
        ],
        "summary": "구역 생성 (ADMIN)",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/zones/seed-grid": {
      "post": {
        "tags": [
          "Zone"
        ],
        "summary": "활성 맵 기준 격자 구역 시드 (ADMIN)",
        "description": "활성 맵 경계를 rows x cols 격자로 나눠 '구역 A1' 형식으로 생성합니다. 기존 구역이 있으면 replace=true 일 때만 대체합니다.",
        "operationId": "seedGrid",
        "parameters": [
          {
            "name": "rows",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 3
            }
          },
          {
            "name": "cols",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 3
            }
          },
          {
            "name": "replace",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/waypoints/apply": {
      "post": {
        "tags": [
          "waypoint-controller"
        ],
        "operationId": "apply",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/videos": {
      "get": {
        "tags": [
          "video-controller"
        ],
        "operationId": "list_2",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clipType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "video-controller"
        ],
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/videos/upload": {
      "post": {
        "tags": [
          "video-controller"
        ],
        "operationId": "upload",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "clipType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "PATROL"
            }
          },
          {
            "name": "durationSec",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startedAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endedAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "thumbnail": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/robots/{robotId}/recover/nav2": {
      "post": {
        "tags": [
          "Robot"
        ],
        "summary": "Nav2 복구 (경로 계산 서버 재기동)",
        "description": "로봇의 Nav2 코어(planner/controller/bt_navigator …)를 내렸다 올립니다.\n이벤트 로그의 `PLANNER_DOWN` 항목에서 관제사가 확인 후 누르는 버튼용입니다.\n\n**🔴 주행이 끊깁니다.** 재기동 동안 로봇은 움직일 수 없고, 순찰 중이었다면\n순찰이 중단됩니다(로봇이 먼저 주행을 정상 정지한 뒤 재기동합니다).\n그래서 서버가 자동으로 호출하지 않습니다.\n\n**응답은 하달까지의 결과입니다.** 재기동은 수십 초가 걸리므로 성패는\n로봇이 되돌려 주는 이벤트 로그(PLANNER_RECOVER_OK / PLANNER_RECOVER_FAILED)로\n확인합니다. `GET /api/events` 를 폴링하세요.\n\n- `ACCEPTED` 하달됨 · `IN_PROGRESS` 이미 복구 중(180초 쿨다운)\n- `OFFLINE` 로봇 미연결 · `INVALID` robotId 누락\n",
        "operationId": "recoverNav2",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "인증 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RobotRecoveryResponse"
                }
              }
            }
          },
          "403": {
            "description": "관제(ADMIN) 권한이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RobotRecoveryResponse"
                }
              }
            }
          },
          "200": {
            "description": "명령 하달 결과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RobotRecoveryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/patrol-schedules": {
      "get": {
        "tags": [
          "Patrol Schedules"
        ],
        "summary": "모든 스케줄 조회",
        "description": "등록된 모든 순찰 스케줄을 조회합니다.",
        "operationId": "getAllSchedules",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatrolScheduleResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Patrol Schedules"
        ],
        "summary": "스케줄 생성",
        "description": "새로운 순찰 스케줄을 생성합니다. Cron 표현식 예: '0 0 9 * * MON-FRI' (평일 오전 9시)",
        "operationId": "createSchedule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatrolScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PatrolScheduleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/patrol-route/start": {
      "post": {
        "tags": [
          "patrol-route-controller"
        ],
        "operationId": "start",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PatrolStartResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/patrol-route/points": {
      "post": {
        "tags": [
          "patrol-route-controller"
        ],
        "operationId": "addPoint",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaypointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          }
        }
      }
    },
    "/api/patrol-route/apply": {
      "post": {
        "tags": [
          "patrol-route-controller"
        ],
        "operationId": "apply_1",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/maps/upload": {
      "post": {
        "tags": [
          "map-controller"
        ],
        "operationId": "upload_1",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "map"
            }
          },
          {
            "name": "widthPx",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "heightPx",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "originX",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "originY",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "originYaw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "관리자 회원가입",
        "description": "관리자 계정을 이메일 기반으로 신규 등록합니다.\n\n**비밀번호 정책**:\n- 최소 8자 이상\n- 영문 대소문자, 숫자, 특수문자 중 2가지 이상 조합\n- BCrypt 해시로 안전하게 저장\n\n**중복 체크**: 이미 존재하는 이메일은 409 Conflict 반환\n",
        "operationId": "signup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "잘못된 요청 (유효성 검증 실패)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          },
          "409": {
            "description": "이미 존재하는 이메일",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          },
          "201": {
            "description": "회원가입 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password/send-reset-code": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "비밀번호 재설정 인증코드 발송",
        "description": "가입된 이메일로 재설정 인증코드를 발송합니다(유효 5분).\n계정 존재 여부를 노출하지 않기 위해, 가입되지 않은 이메일이어도 동일하게 200 을 반환합니다.\n",
        "operationId": "sendResetCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password/send-reset-code-by-phone": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "비밀번호 재설정 인증코드 발송 (휴대전화 경로)",
        "description": "이메일이 기억나지 않는 사용자를 위한 경로입니다. 이름·휴대전화번호·생년월일로 계정을 찾아\n**그 계정의 이메일로** 재설정 인증코드를 발송하고, 어느 메일함을 열어야 하는지 알 수 있도록\n마스킹된 이메일(예: ki***@gmail.com)을 반환합니다.\n- 일치 계정이 없으면 404 (아이디 찾기와 동일한 노출 수준)\n- SMS 는 발송하지 않습니다. 코드는 항상 이메일로 갑니다.\n",
        "operationId": "sendResetCodeByPhone",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FindIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password/reset": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "비밀번호 재설정",
        "description": "인증코드와 새 비밀번호(정책: 8자 이상·영문·숫자·특수문자)를 제출해 비밀번호를 변경합니다.",
        "operationId": "resetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password/reset-by-phone": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "비밀번호 재설정 (휴대전화 경로)",
        "description": "휴대전화 경로로 받은 인증코드와 새 비밀번호를 제출해 비밀번호를 변경합니다.\n사용자는 마스킹된 이메일만 알고 있으므로, 본인 확인 3종을 다시 받아 서버가 계정을 재확인합니다.\n",
        "operationId": "resetPasswordByPhone",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordByPhoneRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "관리자 로그인",
        "description": "관리자가 이메일/비밀번호로 로그인하고 JWT 토큰을 발급받습니다.\n\n**응답 정보**:\n- tokenType: Bearer (고정값)\n- accessToken: JWT 액세스 토큰 (유효기간: 24시간)\n- expiresIn: 토큰 만료 시간 (초 단위)\n- role: 사용자 역할 (ROLE_ADMIN)\n\n**사용법**:\n발급받은 토큰을 이후 API 요청 시 `Authorization: Bearer <accessToken>` 헤더에 포함\n",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "잘못된 요청 (유효성 검증 실패)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 (이메일 또는 비밀번호 불일치)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "200": {
            "description": "로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/find-id": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "아이디(이메일) 찾기",
        "description": "이름·휴대전화번호·생년월일이 모두 일치하는 계정의 이메일을 마스킹해 반환합니다\n(예: ki***@gmail.com). 일치 계정이 없으면 404.\n",
        "operationId": "findId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FindIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/email/verify-code": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "회원가입 이메일 인증코드 검증",
        "description": "발송된 인증코드를 검증합니다. 성공하면 해당 이메일로 30분 내 회원가입이 가능합니다.",
        "operationId": "verifySignupCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailVerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/email/send-code": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "회원가입 이메일 인증코드 발송",
        "description": "가입하려는 이메일로 6자리 인증코드를 발송합니다(유효 5분).\n- 이미 가입된 이메일이면 409 Conflict\n- SMTP 자격증명 미설정 시 개발모드: 코드가 서버 로그에 출력됩니다.\n",
        "operationId": "sendSignupCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{eventId}": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "이벤트 로그 상세 조회",
        "description": "특정 이벤트의 상세 정보를 조회합니다. 연관된 영상 정보도 함께 반환합니다.\n\n**응답 정보**:\n- 이벤트 기본 정보 (타입, 심각도, 메시지 등)\n- 연관 영상 목록 (videos 배열)\n- 각 영상의 시작 시간, 길이, 스트리밍 URL 정보\n\n**영상 재생 방법**:\n- 영상 스트리밍: GET /api/videos/{videoId}/stream\n- 썸네일: GET /api/videos/{videoId}/thumbnail\n",
        "operationId": "getEventDetail",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "이벤트 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "404": {
            "description": "해당 ID의 이벤트를 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogDetailResponse"
                }
              }
            }
          },
          "200": {
            "description": "이벤트 상세 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogDetailResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Event"
        ],
        "summary": "이벤트(경보) 삭제",
        "description": "테스트/더미 이벤트를 삭제합니다. 해당 ID가 없으면 404.",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "이벤트 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "404": {
            "description": "해당 ID의 이벤트를 찾을 수 없음"
          },
          "204": {
            "description": "삭제 성공"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Event"
        ],
        "summary": "경보 상태 업데이트",
        "description": "경보(이벤트) 상태를 전이합니다. 관제사가 확인 후 처리완료(RESOLVED) 등으로 표시할 수 있습니다.\n\n**상태 값**:\n- UNRESOLVED: 미해결 (신규 경보 기본값)\n- RESOLVED: 해결 완료 (관제사 처리 완료)\n- ACKNOWLEDGED: 확인됨 (조치 진행 중)\n",
        "operationId": "updateStatus",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "이벤트 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventStatusUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "해당 ID의 이벤트를 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventLog"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventLog"
                }
              }
            }
          },
          "200": {
            "description": "경보 상태 업데이트 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLog"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 상태 값",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventLog"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/admin/users/role": {
      "patch": {
        "tags": [
          "admin-user-controller"
        ],
        "operationId": "changeRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zones/resolve": {
      "get": {
        "tags": [
          "Zone"
        ],
        "summary": "좌표 → 위치 라벨 변환",
        "description": "구역명 우선, 최근접 설비/웨이포인트 보조('분전반 A 근처(1.2m)'), 근거가 없으면 좌표 폴백.",
        "operationId": "resolve",
        "parameters": [
          {
            "name": "x",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "y",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/videos/{id}": {
      "get": {
        "tags": [
          "video-controller"
        ],
        "operationId": "detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Detail"
                }
              }
            }
          }
        }
      }
    },
    "/api/videos/{id}/thumbnail": {
      "get": {
        "tags": [
          "video-controller"
        ],
        "operationId": "thumbnail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/videos/{id}/stream": {
      "get": {
        "tags": [
          "video-controller"
        ],
        "operationId": "stream",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headers",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/HttpHeaders"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRegion"
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/overheat-equipment": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "설비별 과열 이벤트 랭킹",
        "description": "기간 내 설비(분전반)별 과열 이벤트 수를 최다 순으로 반환합니다. 예방 점검 대상 식별용. 시연용(simulated) 이벤트는 기본 제외합니다.",
        "operationId": "overheatEquipment",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 7
            }
          },
          {
            "name": "includeSimulated",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OverheatEquipment"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/stats/battery-estimate": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "배터리 방전 추세·예상 잔여 가동시간",
        "description": "최근 건강 이력의 선형회귀로 방전율(%/h)과 예상 잔여 가동시간(분)을 추정합니다. 충전 중이거나 표본이 부족하면 추정값은 null 입니다.",
        "operationId": "batteryEstimate",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 60
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatteryEstimate"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/stats/alerts-weekly": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "일별 경보 추이",
        "description": "최근 N일(기본 7일)의 일별 화재/과열/합계 건수를 반환합니다. 이벤트가 없는 날은 0으로 채웁니다(Asia/Seoul 기준).",
        "operationId": "alertsWeekly",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 7
            }
          },
          {
            "name": "includeSimulated",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AlertsWeekly"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/robots": {
      "get": {
        "tags": [
          "Robot"
        ],
        "summary": "로봇 목록 조회",
        "description": "관리자에게 배정된 모든 로봇의 실시간 상태 요약을 조회합니다.\n\n**응답 정보**:\n- robotId: 로봇 고유 ID\n- status: 로봇 상태 (AUTO_PATROL, APPROACH, VERIFY, MANUAL_CONTROL, MAPPING)\n- battery: 배터리 잔량 (%)\n- online: 연결 상태 (true/false)\n- location: 현재 위치 (x, y, yaw)\n- estop, commLatencyMs, inferenceFps 등 확장 필드 포함\n\n**참고**: 실시간 갱신은 WebSocket STOMP `/topic/robots` 구독으로 가능합니다.\n",
        "operationId": "getRobots",
        "responses": {
          "200": {
            "description": "로봇 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RobotResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 유효한 JWT 토큰이 필요합니다",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RobotResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/robots/{robotId}/health-history": {
      "get": {
        "tags": [
          "Robot"
        ],
        "summary": "로봇 건강 이력 조회",
        "description": "특정 로봇의 건강 상태 이력(배터리, 통신 지연, FPS 등)을 조회합니다.\n\n**기간 형식**:\n- 1h, 6h, 24h: 시간 단위\n- 7d, 30d: 일 단위\n- 기본값: 24h\n\n**차트 렌더링용 데이터**: 시간 순으로 정렬된 데이터 포인트 배열\n",
        "operationId": "getHealthHistory",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "24h"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RobotHealthHistoryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/maps": {
      "get": {
        "tags": [
          "map-controller"
        ],
        "operationId": "list_3",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Summary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/maps/{id}": {
      "get": {
        "tags": [
          "map-controller"
        ],
        "operationId": "detail_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Detail"
                }
              }
            }
          }
        }
      }
    },
    "/api/maps/{id}/image": {
      "get": {
        "tags": [
          "map-controller"
        ],
        "operationId": "image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/maps/{id}/grid": {
      "get": {
        "tags": [
          "map-controller"
        ],
        "operationId": "grid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxCells",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "threshold",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MapGridResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/maps/status": {
      "get": {
        "tags": [
          "map-controller"
        ],
        "operationId": "mappingStatus",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MappingStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/maps/latest": {
      "get": {
        "tags": [
          "map-controller"
        ],
        "operationId": "latest",
        "parameters": [
          {
            "name": "robotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Detail"
                }
              }
            }
          }
        }
      }
    },
    "/api/maps/active": {
      "get": {
        "tags": [
          "map-controller"
        ],
        "operationId": "active",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Detail"
                }
              }
            }
          }
        }
      }
    },
    "/api/maps/active/grid": {
      "get": {
        "tags": [
          "map-controller"
        ],
        "operationId": "activeGrid",
        "parameters": [
          {
            "name": "maxCells",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "threshold",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MapGridResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "이벤트 이력 조회 (고급 필터링)",
        "description": "화재 및 장비 과열 감지, 로봇 이상 이벤트 이력을 다양한 조건으로 필터링하여 조회합니다.\n\n**필터 파라미터**:\n- page: 페이지 번호 (0부터 시작, 기본값 0)\n- size: 페이지 크기 (기본값 10)\n- type: 이벤트 타입 (FIRE, OVERHEAT, SYSTEM)\n- level: 심각도 (CRITICAL, WARNING)\n- status: 해결 상태 (UNRESOLVED, RESOLVED)\n- robotId: 특정 로봇 ID\n- equipmentId: 특정 설비 ID (OVERHEAT 전용)\n- startDate: 시작 날짜 (YYYY-MM-DD)\n- endDate: 종료 날짜 (YYYY-MM-DD)\n\n**사용 예시**:\n- 미해결 화재 이벤트: `?type=FIRE&status=UNRESOLVED`\n- 최근 1주일 E101 로봇 이벤트: `?robotId=E101&startDate=2026-07-25`\n- 분전반 C 과열 이력: `?equipmentId=분전반_C&type=OVERHEAT`\n\n**실시간 경보**: WebSocket STOMP `/topic/alerts` 구독으로 신규 경보 실시간 수신 가능\n",
        "operationId": "getEvents",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호 (0부터 시작)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "size",
            "in": "query",
            "description": "페이지 크기",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          },
          {
            "name": "type",
            "in": "query",
            "description": "이벤트 타입 (FIRE, OVERHEAT, SYSTEM)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "FIRE"
          },
          {
            "name": "level",
            "in": "query",
            "description": "심각도 (CRITICAL, WARNING)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "CRITICAL"
          },
          {
            "name": "status",
            "in": "query",
            "description": "해결 상태 (UNRESOLVED, RESOLVED)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "UNRESOLVED"
          },
          {
            "name": "robotId",
            "in": "query",
            "description": "로봇 ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "E101"
          },
          {
            "name": "equipmentId",
            "in": "query",
            "description": "설비 ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "분전반_C"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "시작 날짜 (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2026-08-01"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "종료 날짜 (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2026-08-07"
          }
        ],
        "responses": {
          "200": {
            "description": "이벤트 이력 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 파라미터",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventPageResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 유효한 JWT 토큰이 필요합니다",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventPageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/events/{eventId}/video": {
      "get": {
        "tags": [
          "video-controller"
        ],
        "operationId": "byEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Summary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/events/stats/hourly": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "시간별 이벤트 통계",
        "description": "지정된 시간 동안의 시간별 이벤트 발생 통계를 조회합니다. (차트용)",
        "operationId": "getHourlyStats",
        "parameters": [
          {
            "name": "hours",
            "in": "query",
            "description": "조회할 시간 범위 (시간)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24
            },
            "example": 24
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventStatsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/events/stats/daily": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "일별 이벤트 통계",
        "description": "지정된 기간 동안의 일별 이벤트 발생 통계를 조회합니다. (차트용)",
        "operationId": "getDailyStats",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "조회할 일수",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 7
            },
            "example": 7
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventStatsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/events/stats/by-type": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "이벤트 타입별 통계",
        "description": "지정된 기간 동안 이벤트 타입별 통계를 조회합니다. (차트용)",
        "operationId": "getStatsByType",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "조회할 일수",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 7
            },
            "example": 7
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventStatsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/events/stats/by-robot": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "로봇별 이벤트 통계",
        "description": "지정된 기간 동안 로봇별 이벤트 발생 통계를 조회합니다. (차트용)",
        "operationId": "getStatsByRobot",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "조회할 일수",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 7
            },
            "example": 7
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventStatsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/events/stats/by-equipment": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "설비별 이벤트 통계",
        "description": "지정된 기간 동안 설비별 과열 이벤트 통계를 조회합니다. (차트용)",
        "operationId": "getStatsByEquipment",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "조회할 일수",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 7
            },
            "example": 7
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventStatsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/equipments": {
      "get": {
        "tags": [
          "equipment-controller"
        ],
        "operationId": "getEquipments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Equipment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/dashboard/stats": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "대시보드 통합 통계 조회",
        "description": "관제센터 메인 화면에 표시할 통합 통계를 한 번의 요청으로 조회합니다.\n\n**응답 데이터**:\n- summary: 로봇 상태 요약 (전체/활성/충전중/평균배터리)\n- today: 오늘 이벤트 통계 (총 건수, 치명적/경고/해결/미해결)\n- recentEvents: 최근 이벤트 5건\n- robotStatus: 전체 로봇 현재 상태\n\n**활용**:\n- 페이지 로드 시 1회 호출\n- 실시간 갱신은 WebSocket STOMP 구독 권장\n- 캐싱 가능 (5초 TTL)\n\n**성능**:\n- 평균 응답 시간: ~50ms\n- 로봇 10대, 이벤트 1000건 기준\n",
        "operationId": "getStats",
        "responses": {
          "200": {
            "description": "통계 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardStatsResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 유효한 JWT 토큰이 필요합니다",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardStatsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/admin/users": {
      "get": {
        "tags": [
          "admin-user-controller"
        ],
        "operationId": "list_4",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserSummaryResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/waypoints/{id}": {
      "delete": {
        "tags": [
          "waypoint-controller"
        ],
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/patrol-route/points/{id}": {
      "delete": {
        "tags": [
          "patrol-route-controller"
        ],
        "operationId": "deletePoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ZoneRequest": {
        "required": [
          "name",
          "x1",
          "x2",
          "y1",
          "y2"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 80,
            "minLength": 0,
            "type": "string"
          },
          "x1": {
            "type": "number",
            "format": "double"
          },
          "y1": {
            "type": "number",
            "format": "double"
          },
          "x2": {
            "type": "number",
            "format": "double"
          },
          "y2": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ZoneResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "x1": {
            "type": "number",
            "format": "double"
          },
          "y1": {
            "type": "number",
            "format": "double"
          },
          "x2": {
            "type": "number",
            "format": "double"
          },
          "y2": {
            "type": "number",
            "format": "double"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WaypointRequest": {
        "required": [
          "x",
          "y"
        ],
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "format": "double"
          },
          "y": {
            "type": "number",
            "format": "double"
          },
          "yaw": {
            "type": "number",
            "format": "double"
          },
          "name": {
            "type": "string"
          },
          "seq": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "robotId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "x": {
            "type": "number",
            "format": "double"
          },
          "y": {
            "type": "number",
            "format": "double"
          },
          "yaw": {
            "type": "number",
            "format": "double"
          },
          "seq": {
            "type": "integer",
            "format": "int32"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "PatrolScheduleRequest": {
        "required": [
          "cronExpression",
          "enabled",
          "name",
          "robotId"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "robotId": {
            "type": "string"
          },
          "cronExpression": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "PatrolScheduleResponse": {
        "type": "object",
        "properties": {
          "scheduleId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "robotId": {
            "type": "string"
          },
          "cronExpression": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "lastExecuted": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RouteRequest": {
        "required": [
          "waypoints"
        ],
        "type": "object",
        "properties": {
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WaypointRequest"
            }
          }
        }
      },
      "Route": {
        "type": "object",
        "properties": {
          "robotId": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          }
        }
      },
      "NotificationSettingRequest": {
        "type": "object",
        "properties": {
          "mattermostEnabled": {
            "type": "boolean"
          },
          "mattermostWebhookUrl": {
            "type": "string"
          },
          "mattermostChannel": {
            "type": "string"
          },
          "minSeverity": {
            "type": "string"
          }
        }
      },
      "NotificationSettingResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "string"
          },
          "mattermostEnabled": {
            "type": "boolean"
          },
          "mattermostWebhookUrl": {
            "type": "string"
          },
          "mattermostChannel": {
            "type": "string"
          },
          "minSeverity": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Detail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "robotId": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "widthPx": {
            "type": "integer",
            "format": "int32"
          },
          "heightPx": {
            "type": "integer",
            "format": "int32"
          },
          "resolution": {
            "type": "number",
            "format": "double"
          },
          "originX": {
            "type": "number",
            "format": "double"
          },
          "originY": {
            "type": "number",
            "format": "double"
          },
          "originYaw": {
            "type": "number",
            "format": "double"
          },
          "fileSizeBytes": {
            "type": "integer",
            "format": "int64"
          },
          "active": {
            "type": "boolean"
          },
          "kind": {
            "type": "string"
          },
          "sourceMapId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "EquipmentThresholdRequest": {
        "required": [
          "threshold"
        ],
        "type": "object",
        "properties": {
          "threshold": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ApplyResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "delivered": {
            "type": "boolean"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "VideoRegisterRequest": {
        "required": [
          "clipType",
          "filePath",
          "robotId",
          "startedAt",
          "storageType"
        ],
        "type": "object",
        "properties": {
          "robotId": {
            "type": "string"
          },
          "eventId": {
            "type": "integer",
            "format": "int64"
          },
          "clipType": {
            "type": "string"
          },
          "storageType": {
            "type": "string"
          },
          "filePath": {
            "type": "string"
          },
          "thumbnailPath": {
            "type": "string"
          },
          "durationSec": {
            "type": "integer",
            "format": "int32"
          },
          "fileSizeBytes": {
            "type": "integer",
            "format": "int64"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "endedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RegisterResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "robotId": {
            "type": "string"
          },
          "eventId": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "RobotRecoveryResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "delivered": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "PatrolStartResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "routeDelivered": {
            "type": "boolean"
          },
          "patrolStarted": {
            "type": "boolean"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SignupRequest": {
        "required": [
          "birthDate",
          "email",
          "gender",
          "name",
          "password",
          "phoneNumber"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phoneNumber": {
            "pattern": "^(010\\d{7,8}|010-\\d{3,4}-\\d{4})$",
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string"
          }
        }
      },
      "SignupResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "RefreshRequest": {
        "required": [
          "refreshToken"
        ],
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "RefreshResponse": {
        "type": "object",
        "properties": {
          "tokenType": {
            "type": "string"
          },
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer",
            "format": "int64"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "EmailCodeRequest": {
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "FindIdRequest": {
        "required": [
          "birthDate",
          "name",
          "phoneNumber"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "FindIdResponse": {
        "type": "object",
        "properties": {
          "maskedEmail": {
            "type": "string"
          }
        }
      },
      "ResetPasswordRequest": {
        "required": [
          "code",
          "email",
          "newPassword"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "ResetPasswordByPhoneRequest": {
        "required": [
          "birthDate",
          "code",
          "name",
          "newPassword",
          "phoneNumber"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "code": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "LoginRequest": {
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "tokenType": {
            "type": "string"
          },
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer",
            "format": "int64"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "EmailVerifyRequest": {
        "required": [
          "code",
          "email"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "EventStatusUpdateRequest": {
        "required": [
          "status"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "EventLog": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string"
          },
          "level": {
            "type": "string"
          },
          "robotId": {
            "type": "string"
          },
          "messageId": {
            "type": "string"
          },
          "equipmentId": {
            "type": "string"
          },
          "x": {
            "type": "number",
            "format": "double"
          },
          "y": {
            "type": "number",
            "format": "double"
          },
          "mapId": {
            "type": "string"
          },
          "confidence": {
            "type": "number",
            "format": "double"
          },
          "temperature": {
            "type": "number",
            "format": "double"
          },
          "threshold": {
            "type": "number",
            "format": "double"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "simulated": {
            "type": "boolean"
          }
        }
      },
      "ChangeRoleRequest": {
        "required": [
          "email",
          "role"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "ROLE_ADMIN",
              "ROLE_USER"
            ]
          }
        }
      },
      "UserSummaryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "Landmark": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "distanceM": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ResolveResponse": {
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "format": "double"
          },
          "y": {
            "type": "number",
            "format": "double"
          },
          "zoneId": {
            "type": "string"
          },
          "zoneName": {
            "type": "string"
          },
          "nearest": {
            "$ref": "#/components/schemas/Landmark"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "PageResult": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Summary"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Summary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "robotId": {
            "type": "string"
          },
          "eventId": {
            "type": "integer",
            "format": "int64"
          },
          "clipType": {
            "type": "string"
          },
          "durationSec": {
            "type": "integer",
            "format": "int32"
          },
          "thumbnailUrl": {
            "type": "string"
          },
          "startedAt": {
            "type": "string"
          }
        }
      },
      "ContentDisposition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "charset": {
            "type": "string"
          },
          "attachment": {
            "type": "boolean"
          },
          "formData": {
            "type": "boolean"
          },
          "inline": {
            "type": "boolean"
          }
        }
      },
      "HttpHeaders": {
        "type": "object",
        "properties": {
          "ifMatch": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "acceptLanguage": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "range": {
                  "type": "string"
                },
                "weight": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          },
          "basicAuth": {
            "type": "string",
            "writeOnly": true
          },
          "accept": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaType"
            }
          },
          "acceptPatch": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaType"
            }
          },
          "acceptCharset": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allow": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HttpMethod"
            }
          },
          "bearerAuth": {
            "type": "string",
            "writeOnly": true
          },
          "connection": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "etag": {
            "type": "string"
          },
          "expires": {
            "type": "integer",
            "format": "int64"
          },
          "ifNoneMatch": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "origin": {
            "type": "string"
          },
          "pragma": {
            "type": "string"
          },
          "range": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HttpRange"
            }
          },
          "upgrade": {
            "type": "string"
          },
          "vary": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "contentLanguage": {
            "type": "object",
            "properties": {
              "language": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "variant": {
                "type": "string"
              },
              "script": {
                "type": "string"
              },
              "unicodeLocaleAttributes": {
                "uniqueItems": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "unicodeLocaleKeys": {
                "uniqueItems": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "displayLanguage": {
                "type": "string"
              },
              "displayScript": {
                "type": "string"
              },
              "displayCountry": {
                "type": "string"
              },
              "displayVariant": {
                "type": "string"
              },
              "extensionKeys": {
                "uniqueItems": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "iso3Language": {
                "type": "string"
              },
              "iso3Country": {
                "type": "string"
              }
            }
          },
          "cacheControl": {
            "type": "string"
          },
          "contentLength": {
            "type": "integer",
            "format": "int64"
          },
          "contentType": {
            "$ref": "#/components/schemas/MediaType"
          },
          "location": {
            "type": "string",
            "format": "uri"
          },
          "ifModifiedSince": {
            "type": "integer",
            "format": "int64"
          },
          "host": {
            "type": "object",
            "properties": {
              "hostString": {
                "type": "string"
              },
              "unresolved": {
                "type": "boolean"
              },
              "address": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "format": "byte"
                  },
                  "hostAddress": {
                    "type": "string"
                  },
                  "linkLocalAddress": {
                    "type": "boolean"
                  },
                  "anyLocalAddress": {
                    "type": "boolean"
                  },
                  "hostName": {
                    "type": "string"
                  },
                  "multicastAddress": {
                    "type": "boolean"
                  },
                  "loopbackAddress": {
                    "type": "boolean"
                  },
                  "siteLocalAddress": {
                    "type": "boolean"
                  },
                  "mcglobal": {
                    "type": "boolean"
                  },
                  "mcnodeLocal": {
                    "type": "boolean"
                  },
                  "mclinkLocal": {
                    "type": "boolean"
                  },
                  "mcsiteLocal": {
                    "type": "boolean"
                  },
                  "mcorgLocal": {
                    "type": "boolean"
                  },
                  "canonicalHostName": {
                    "type": "string"
                  }
                }
              },
              "port": {
                "type": "integer",
                "format": "int32"
              },
              "hostName": {
                "type": "string"
              }
            }
          },
          "contentDisposition": {
            "$ref": "#/components/schemas/ContentDisposition"
          },
          "acceptLanguageAsLocales": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "language": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "variant": {
                  "type": "string"
                },
                "script": {
                  "type": "string"
                },
                "unicodeLocaleAttributes": {
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "unicodeLocaleKeys": {
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "displayLanguage": {
                  "type": "string"
                },
                "displayScript": {
                  "type": "string"
                },
                "displayCountry": {
                  "type": "string"
                },
                "displayVariant": {
                  "type": "string"
                },
                "extensionKeys": {
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "iso3Language": {
                  "type": "string"
                },
                "iso3Country": {
                  "type": "string"
                }
              }
            }
          },
          "accessControlAllowCredentials": {
            "type": "boolean"
          },
[...]
